<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://tdt4250/1.0"
            class="tdt4250.Tdt4250Package"
            genModel="nn.genmodel"/>
   </extension>

</plugin>
